div#wrapper {
  height: 500px;}

div#content {
  background: #BCFA99;
  height: 100%;
  text-align: center;
  padding: 50% 0;}

p#arrow {
  font-size: 400%;
  color: #2FBEF9;
  text-shadow: -1px 1px 2px #333333;
  -webkit-transform: rotate(-45deg);
  -webkit-tap-highlight-color: rgba(0,0,0,0);}

